<% include ../partials/admin-header %>
<script>
       document.getElementById("choferes").classList.add("active");
  </script>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Choferes</h1>
             <a href="/tp-admin/choferes/agregar"><button class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar chofer</button></a>


          <h2>Detalle</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th class="text-center"><i class="fa fa-cog" aria-hidden="true"></i></th>
                  
                </tr>
              </thead>
              <tbody>
                
              <% choferes.forEach(function(chofer, i){ %>  
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= chofer.nombre %></td>
                  <td><%= chofer.apellido %></td>
                  <td><%= chofer.email %></td>
                  <td class="text-center"><a class="btn btn-info" href="/tp-admin/choferes/<%= chofer._id %>/edit"  href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                          <form style="display: inline;" class="confirm-chofer" action="/tp-admin/choferes/<%= chofer._id %>/?_method=DELETE" method="POST">
                                          <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                          </form>
                                        
                  </td>
                 
                </tr>
                  <% }) %>
                 
               
                
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

<% include ../partials/admin-footer %>