
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Tours Plaza Admin</title>

    <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
   
             

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>

  <body>
      <div class="container flash">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
       
<div class="container"> 
    <a href="/tp-admin/reservaciones-confirmadas"><button class="btn btn-primary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Volver</button></a>
       
 <form action="/tp-admin/reservaciones-confirmadas/<%= confirmedReservation._id %>?_method=PUT" method="POST">
        <h1 style="text-align: center">Editar reserva de <%= confirmedReservation.name %> </h1>
       
        
        <h1 style="text-align: center" >ID Reserva: <%= confirmedReservation._id.toString().slice(-7).toUpperCase() %></h1>
         <div class="form-group ">
            <label for="vehicleSelect"><strong>Select Vehicle *</strong></label>
                <select class="form-control" name="confirmedReservation[vehicle]" id="vehicleSelect" required>
                  <option value="none" > </option>
                  <option value="Car" <% if(confirmedReservation.vehicle === "Car") { %> selected <% } %> >Car (up to 4 guests)</option>
                  <option value="Regular Van"  <% if(confirmedReservation.vehicle === "Regular Van") { %> selected <% } %> >Van (up to 9 guests)</option>
                  <option value="xVan"  <% if(confirmedReservation.vehicle === "xVan") { %> selected <% } %>>xVan (up to 10 guests)</option>
                  <option value="Larger Van"  <% if(confirmedReservation.vehicle === "Larger Van") { %> selected <% } %>>Larger Van (up to 14 guests)</option>
                </select>
          </div>
            <div class="form-group">
                <label for="datepicker"><strong>Select date *</strong> </label>
                 <input id="datepicker" type="text" name="confirmedReservation[date]"  value="<%= moment(confirmedReservation.date).format("dddd MMMM DD, YYYY") %>" class="form-control" required>
            </div>
        
            <div class="form-group">
                <label for="name"><strong>Name *</strong></label>
                <input type="text" id="name" name="confirmedReservation[name]" value="<%= confirmedReservation.name %>"  class="form-control" required>
            </div>
          
            <div class="form-group">
                <label for="email"><strong>Email *</strong></label>
                <input type="email" id="email"  name="confirmedReservation[email]" value="<%= confirmedReservation.email %>" class="form-control" required>
            </div>
            <div class="form-group ">
            <label for="timeSelect"><strong>Starting time *</strong></label>
                <select class="form-control" id="timeSelect" name="confirmedReservation[startTime]"  required>
                  <option value="7:30 AM"  <% if(confirmedReservation.startTime === "7:30 AM") { %> selected <% } %>>7:30 AM</option>
                  <option value="8:00 AM"  <% if(confirmedReservation.startTime === "8:00 AM") { %> selected <% } %>>8:00 AM</option>
                  <option value="8:30 AM"  <% if(confirmedReservation.startTime === "8:30 AM") { %> selected <% } %>>8:30 AM</option>
                  <option value="9:00 AM"  <% if(confirmedReservation.startTime === "9:00 AM") { %> selected <% } %>>9:00 AM</option>
                  <option value="9:30 AM"  <% if(confirmedReservation.startTime === "9:30 AM") { %> selected <% } %>>9:30 AM</option>
                  <option value="10:00 AM" <% if(confirmedReservation.startTime === "10:00 AM") { %> selected <% } %> >10:00 AM</option>
                  <option value="10:30 AM" <% if(confirmedReservation.startTime === "10:30 AM") { %> selected <% } %>>10:30 AM</option>
                  <option value="11:00 AM" <% if(confirmedReservation.startTime === "11:00 AM") { %> selected <% } %>>11:00 AM</option>
                  <option value="11:30 AM" <% if(confirmedReservation.startTime === "11:30 AM") { %> selected <% } %>>11:30 AM</option>
                  <option value="12:00 PM" <% if(confirmedReservation.startTime === "12:00 PM") { %> selected <% } %>>12:00 PM</option>
                  <option value="12:30 PM" <% if(confirmedReservation.startTime === "12:30 PM") { %> selected <% } %>>12:30 PM</option>
                  <option value="13:00 PM" <% if(confirmedReservation.startTime === "1:00 PM") { %> selected <% } %>>1:00 PM</option>
                  <option value="13:30 PM" <% if(confirmedReservation.startTime === "1:30 PM") { %> selected <% } %>>1:30 PM</option>
                  <option value="14:00 PM" <% if(confirmedReservation.startTime === "2:00 PM") { %> selected <% } %>>2:00 PM</option>
                  <option value="14:30 PM" <% if(confirmedReservation.startTime === "2:30 PM") { %> selected <% } %>>2:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "3:00 PM") { %> selected <% } %>>3:00 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "3:30 PM") { %> selected <% } %>>3:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "4:00 PM") { %> selected <% } %>>4:00 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "4:30 PM") { %> selected <% } %>>4:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "5:00 PM") { %> selected <% } %>>5:00 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "5:30 PM") { %> selected <% } %>>5:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "6:00 PM") { %> selected <% } %>>6:00 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "6:30 PM") { %> selected <% } %>>6:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "7:00 PM") { %> selected <% } %>>7:00 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "7:30 PM") { %> selected <% } %>>7:30 PM</option>
                  <option value="15:00 PM" <% if(confirmedReservation.startTime === "8:00 PM") { %> selected <% } %>>8:00 PM</option>
                </select>
          </div>
            <div class="form-group ">
            <label for="people"><strong>Number of people *</strong></label>
                <input type="text" class="form-control" id="people" name="confirmedReservation[people]" value="<%= confirmedReservation.people %>"  required>
                
          </div>
          <label for="cruise"><strong>Hotel or ship? * </strong></label>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="confirmedReservation[arrival]" id="cruise" value="Cruise" <% if(confirmedReservation.arrival === "Cruise") { %> checked <% } %> > Cruise Ship
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="confirmedReservation[arrival]" id="hotel" value="Hotel" <% if(confirmedReservation.arrival === "Hotel") { %> checked <% } %> > Hotel in Cozumel
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="confirmedReservation[arrival]" id="playa" value="Playa del Carmen" <% if(confirmedReservation.arrival === "Playa del Carmen") { %> checked <% } %>> Coming from Playa del Carmen
              </label>
            </div>
             <div class="form-group" style="padding-top: 12px">
                <label for="nameHotelOrCruise"><strong>Name of the HOTEL or CRUISE* (if coming from Playa del Carmen just write PDC) </strong></label>
                <input type="text" id="nameHotelOrCruise" name="confirmedReservation[hotelOrCruise]" value="<%= confirmedReservation.hotelOrCruise %>" class="form-control" required>
             </div>
                <div class="form-group ">
            <label for="country"><strong>Choose your country</strong></label>
                <input class="form-control" id="country" name="confirmedReservation[country]" value="<%= confirmedReservation.country %>" required>
                </div>
            <label for="cellphone"><strong>Cellphone</strong></label>
            
                 <div class="form-group">
                    <input type="tel" name="confirmedReservation[celular]" id="cellphone" value="<%= confirmedReservation.celular %>" class="form-control" required>
                 </div>
           
            <label for="info"><strong>Do you have an idea, more or less, of what you want to do or where you want to go during the tour? This information allows the driver/guide to plan a fun and informative day so you can enjoy every part of the tour. Please let us know.</strong></label>
             <div class="form-group">
               <textarea id="info" name="confirmedReservation[info]" value="<%= confirmedReservation.info %>" rows="5" cols="157"></textarea>
             </div>
            <label for="requirement"><strong>Do you have any special requirement or condition that the driver should know in order for you to have the best experience possible.</strong></label>
             <div class="form-group">
               <textarea id="requirement" name="confirmedReservation[requirements]" value="<%= confirmedReservation.requirements %>" rows="5" cols="157"></textarea>
             </div>
              <label for="babySeat"><strong>Do you need an additional item?</strong></label>
             <div class="form-group">
               <input type="checkbox" id="babySeat" name="confirmedReservation[babySeat]" value="babySeat" <% if(confirmedReservation.babySeat === "babySeat") { %> checked <% } %> > 1 baby seat USD $10
             </div>
             <input type="submit" class="btn btn-lg btn-default btn-primary btn-block" value="Edit">
             <p>*Required fields</p>
            </div>
     </form>
</div>     

      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script type="text/javascript" src="/javascript/jquery-ui.min.js"></script>
<script>
    $("#datepicker").datepicker(
    {
       changeMonth: true,
       changeYear: true,
       defaultDate: 0,
       dateFormat: "DD MM dd, yy"
     /*  minDate: datePlusTwo //Permite setear la fecha minima en 2 días más */
    }
    );
    
</script>
     </body>
</html>