<% include ../partials/admin-header %>
  <script>
       document.getElementById("reservaciones-confirmadas").classList.add("active");
     
  </script>
     <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Reservaciones confirmadas</h1>

 <div class="table-responsive">
            <table id="data" class="table table-stripe table-bordered table-sm">
              <thead>
                <tr>
                  <th>Vehiculo</th>
                  <th>Fecha</th>
                  <th>Nombre</th>
                  <th>Hoja cliente</th>
                  <th>Hoja chofer</th>
                  <th class="text-center"><i class="fa fa-cog" aria-hidden="true"></i></th>
                  <th>Ejecutar reserva</th>
                
                
                </tr>
              </thead>
              <tbody>
                <% confirmedReservations.forEach(function(confirmedReservation){ %>
                
                  <tr class="reserva">
                  <td><%= confirmedReservation.vehicle %></td>
                  <td class="date"><%= moment(confirmedReservation.date).format("dddd MMMM DD, YYYY")%></td>
                  <td><%= confirmedReservation.name %></td>
                  <td class="text-center"><a target="_blank" class="btn btn-warning" href="/tp-admin/reservaciones-confirmadas/<%= confirmedReservation.name %>-<%= confirmedReservation._id %>"><i class="fa fa-file-pdf-o " aria-hidden="true" ></i></a></td>
                  <td class="text-center"><a target="_blank" class="btn btn-primary" href="/tp-admin/reservaciones-confirmadas/<%= confirmedReservation.chofer %>-<%= confirmedReservation._id %>"><i class="fa fa-file-pdf-o " aria-hidden="true"></i></a></td>
                  <td class="text-center">
                                          <a class="btn btn-info"  href="/tp-admin/reservaciones-confirmadas/<%= confirmedReservation._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                          <form style="display: inline;" class="confirm" action="/tp-admin/reservaciones-confirmadas/<%= confirmedReservation._id %>/?_method=DELETE" method="POST">
                                          <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                          </form>
                  
                  </td>
                  <td class="text-center"><a class="btn btn-success"><i class="fa fa-check"></i></a></td>
                  </tr>
                
                <% }) %>
                 
               
                
              </tbody>
            </table>
           
          </div>
        
          
        </main>
      </div>
    </div>

<% include ../partials/admin-footer %>