<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
        <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    
  </head>
  
  <body>
<div class="container flash">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>    


<div id="imprimir" class="container">
     <a href="/tp-admin"><button class="btn btn-primary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Volver</button></a>
     <a href="/tp-admin/<%= reservation._id %>/edit"><button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button></a>
            <h1>Detalles de la reserva</h1>
            <table class="table table-striped">
          <thead>
            <tr>
             
              </tr>
          </thead>
          <tbody>
         <form action="/tp-admin/<%= reservation._id %>" method="POST">  
            <tr>
              <th scope="row">ID de la Reserva</th>
              <td><input type="hidden" name="id" value="<%= reservation._id %>"><%= reservation._id %></td>
                  
            </tr>
            <tr>
              <th scope="row">Nombre</th>
              <td><input type="hidden" name="name" value="<%= reservation.firstName %> <%= reservation.lastName %>"><%= reservation.firstName %> <%= reservation.lastName %></td>
              
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td><input type="hidden"  name="email" value="<%= reservation.email %>"> <%= reservation.email %></td>
           
            </tr>
            <tr>
              <th scope="row">Fecha</th>
              <td><input type="hidden" name="date" value="<%= moment(reservation.date).format("dddd MMMM DD, YYYY") %>" ><%= moment(reservation.date).format("dddd MMMM DD, YYYY") %></td>
           
            </tr>
            <tr>
              <th scope="row">Hora de inicio</th>
              <td><input type="hidden" id="startTime" name="startTime" value="<%= reservation.startTime %>"> <%= reservation.startTime %></td>
           
            </tr>
            <tr>
              <th scope="row">Servicio</th>
              <td><input type="hidden" name="vehicle" value="<%= reservation.vehicle %>"> <%= reservation.vehicle %></td>
           
            </tr>
            <tr>
              <th scope="row"># de personas</th>
              <td><input type="hidden" name="people" value="<%= reservation.people %>"><%= reservation.people %></td>
           
            </tr>
            <tr>
              <th scope="row">Pais</th>
              <td><input type="hidden" name="country" value="<%= reservation.country %>"><%= reservation.country %></td>
           
            </tr>
            <tr>
              <th scope="row">Celular</th>
              <td><input type="hidden" name="celular" value="<%= reservation.areaCode %><%= reservation.cellphone %>"><%= reservation.areaCode %><%= reservation.cellphone %></td>
           
            </tr>
            <tr>
              <th scope="row">Hotel o Crucero</th>
              <td><input type="hidden" name="arrival" value="<%= reservation.arrival %>"><%= reservation.arrival %></td>
           
            </tr>
            <tr>
              <th scope="row">Nombre Hotel o Crucero</th>
              <td><input type="hidden" name="hotelOrCruise" value="<%= reservation.hotelOrCruise %>"><%= reservation.hotelOrCruise %></td>
           
            </tr>
            <tr>
              <th scope="row">Comentarios</th>
              <td><input type="hidden" name="info" value="<%= reservation.info %>"><%= reservation.info %></td>
           
            </tr>
            <tr>
              <th scope="row">Requerimientos</th>
              <td><input type="hidden" name="requirements" value="<%= reservation.requirements %>"><%= reservation.requirements %></td>
           
            </tr>
            <tr>
              <th scope="row">Adicionales</th>
             <% if(reservation.babySeat === "babySeat"){ %>
                    <td><input type="hidden" name="babySeat" value="<%= reservation.babySeat %>">Baby Seat </td>
               <% } else { %>
               <td><input type="hidden" name="babySeat" value=""> </td>
                <% } %>
            </tr>
            <tr>
                <th scope="row">Asignar chofer</th>
              <td>
               
                <div class="form-group">
                  <select class="form-control" name="chofer" id="chofer" required>
                  
                   <% choferes.forEach(function(chofer) { %>
                  <option value="<%= chofer.nombre %>"> <%= chofer.nombre %></option>
                   <% }) %>
                  </select>
                </div>
               
              </td>  
            </tr>
            <tr>
              <th scope="row">Asignar punto de salida</th>
                <td>
                  <div class="form-group">
                    <% if(reservation.arrival === "Hotel") { %>
                    <input type="text" name="salida" class="form-control" value="<%= reservation.arrival %> <%= reservation.hotelOrCruise %>" required>
                    <% } else { %>
                    <select class="form-control" id="salida" name="salida" required>
                      <option value="International Pier">International Pier</option>
                      <option value="Puerta Maya Pier">Puerta Maya Pier</option>
                      <option value="Punta Langosta (DOWNTOWN)">Punta Langosta Pier (DOWNTOWN)</option>
                      <option value="Ferry boat from Playa del Carmen">Ferry boat from Playa del Carmen</option>
                    </select>
                     <% } %>
                    
                  </div>
              <tr>
                </td>
                <th scope="row">Horario de salida Ferry</th>
                <td>
                  <div class="form-group">
                    <input type="text" name="horarioFerry" class="form-control" placeholder="Solo ingresar si el cliente llega desde el Ferry de Playa del Carmen, ej: 8:30 AM">
                  </div>
                </td>
              </tr>
            </tr>
            <tr>
              <th scope="row" style="float: right;"><i class="fa fa-3x fa-check-square"></i> </th>
                <td>
                  <input type="submit" class="btn btn-success btn-block" value="Confirm reservation"></input>
                </td>
             
            </tr>
         
           </form>
          </tbody>
        </table>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script type="text/javascript" src="/javascript/admin.js"></script>
    </body>
    
</html>