<% include ../partials/admin-header %>
  <script>
       document.getElementById("reservaciones").classList.add("active");
     
  </script>


        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Reservaciones</h1>

       
          <form>
               <div class="form-group">
                <label for="datepicker"><strong>Filtrar por fecha</strong> </label>
                 <input id="datepicker" type="text" name="date" class="form-control">
                 <button class="btn btn-success">Filtrar</button>
              </div>
          </form>
          <div class="table-responsive">
            <table id="data" class="table table-stripe table-bordered table-sm">
              <thead>
                <tr>
                  <th>Vehiculo</th>
                  <th>Fecha</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Celular</th>
                  <th class="text-center"><i class="fa fa-cog" aria-hidden="true"></i></th>
                
                
                </tr>
              </thead>
              <tbody>
                <% reservations.forEach(function(reservation){ %>
                
                  <tr>
                  <td><%= reservation.vehicle %></td>
                  <td><%= moment(reservation.date).format("dddd MMMM DD, YYYY")%></td>
                  <td><%= reservation.firstName %></td>
                  <td><%= reservation.lastName %></td>
                  <td><%= reservation.email %></td>
                  <td><%= reservation.areaCode %><%= reservation.cellphone %></td>
                  <td style="width: 160px;"><a class="btn btn-primary" href="tp-admin/<%= reservation._id %>"><i class="fa fa-file-pdf-o " aria-hidden="true"></i></a>
                                          <a class="btn btn-info"  href="/tp-admin/<%= reservation._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                          <form style="display: inline;" class="confirm" action="/tp-admin/<%= reservation._id %>/?_method=DELETE" method="POST">
                                          <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                          </form>
                  
                  </td>                   
                  </tr>
                
                <% }) %>
                 
               
                
              </tbody>
            </table>
           
          </div>
        
          
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
<% include ../partials/admin-footer %>
